<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
</head>
<body>
    <h3>Listing Details</h3>

    <h4><%= listing.title %></h4>
    <p><%= listing.description %></p>
    <p>Price: $<%= listing.price.toLocaleString("en-in") %></p>
    <p>country:<%= listing.country %></p>
    <p>Location: <%= listing.location %></p>

    <a href="/listings">Back to Listings</a> 
</body>
</html>